.footer-bar {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer {
  accent-color: #1c0037;
  align-items: center;
  background-color: #510a98;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  position: fixed;
}

button > img {
  max-width: 80%;
}

